.iconborder {
    border-radius: 20px;
    border-width: 1px;
    background-color: rgb(234, 158, 17);
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divcontainer {
    height: 70px;
}